<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/buy.js" defer></script>
  </head>
  <body>
    현재 환율 : <span id="pricePerDollar"></span>(<span id="datetime"></span>)
    <input type="text" id="amount" placeholder="구매수량" />
    <input type="text" id="totalPrice" disabled />
    <button type="button" id="buyBtn">사기</button>
  </body>
</html>
